body {
	background-position: center center;
	background: url("../images/comic.lg.jpg");
	background-size: : 100%;
}

.game.col-lg-8.col-md-8 {
	background: rgba(255, 255, 255, 0.9);
	margin-top: 300px;
	

}
h1, h2, h3, p {
	font-weight: bolder;
}

div#countdown-display h1 {
	font-size: 78px;
}